# Challenge 2 - Create the Database and Tables

In [2]:
import os
from google.cloud import bigquery

os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="ironhack_service_account_big_query.json"
client = bigquery.Client()

In [3]:
query = '''
CREATE TABLE car_dealership.car_2
(
    VIN STRING,
    MANUFACTURER STRING,
    MODEL STRING,
    YEAR NUMERIC,
    COLOR STRING
)
'''

In [4]:
query_job = client.query(query)
df = query_job.to_dataframe()

In [13]:
query = '''
CREATE TABLE car_dealership.customers_2
(
    CUSTOMER_ID STRING,
    NAME STRING,
    PHONE_NUMBER STRING,
    EMAIL STRING,
    ADDRESS STRING,
    CITY STRING,
    STATE STRING,
    COUNTRY STRING,
    POSTAL_CODE NUMERIC
)
'''

In [14]:
query_job = client.query(query)
df = query_job.to_dataframe()

In [15]:
query = '''
CREATE TABLE car_dealership.salesperson_2
(
    STAFF_ID STRING,
    NAME STRING,
    STORE STRING
)
'''

In [16]:
query_job = client.query(query)
df = query_job.to_dataframe()

In [17]:
query = '''
CREATE TABLE car_dealership.invoices_2
(
    INVOICE_NUMBER STRING,
    DATE DATE,
    CAR NUMERIC,
    SPARE_PART NUMERIC,
    CUSTOMER NUMERIC,
    SALESPERSON NUMERIC
)
'''

In [18]:
query_job = client.query(query)
df = query_job.to_dataframe()

In [19]:
query = '''
CREATE TABLE car_dealership.spare_parts_2
(
    SPARE_PART_ID STRING,
    MANUFACTURER STRING,
    MODEL STRING,
    DESCRIPTION STRING
)
'''

In [20]:
query_job = client.query(query)
df = query_job.to_dataframe()

# Challenge 3 - Seeding the Database

In [22]:
query = '''
INSERT INTO car_dealership.car_2
VALUES
('3K096I98581DHSNUP', 'Volkswagen', 'Tiguan', 2019, 'Blue'),
('ZM8G7BEUQZ97IH46V', 'Peugeot', 'Rifter', 2019, 'Red'),
('RKXVNNIHLVVZOUB4M', 'Ford', 'Fusion', 2018, 'White'),
('HKNDGS7CU31E9Z7JW', 'Toyota', 'RAV4', 2018, 'Silver'),
('DAM41UDN3CHU2WVF6', 'Volvo', 'V60', 2019, 'Gray'),
('DAM41UDN3CHU2WVF6', 'Volvo', 'V60 Cross Country', 2019, 'Gray')
'''

In [23]:
query_job = client.query(query)
df = query_job.to_dataframe()

In [26]:
query = '''
INSERT INTO car_dealership.customers_2
VALUES
('10001','Pablo Picasso', '+34 636 17 63 82', '-', 'Paseo de la Chopera, 14', 'Madrid', 'Madrid', 'Spain', 28045),
('20001','Abraham Lincoln','+1 305 907 7086', '-', '120 SW 8th St', 'Miami', 'Florida', 'United States', 33130),
('30001','Napoléon Bonaparte', '+33 1 79 75 40 00', '-', '40 Rue du Colisée', 'Paris', 'Île-de-France', 'France', 75008)
'''

In [27]:
query_job = client.query(query)
df = query_job.to_dataframe()

In [28]:
query = '''
INSERT INTO car_dealership.salesperson_2
VALUES
('00001', 'Petey Cruiser', 'Madrid'),
('00002', 'Anna Sthesia', 'Barcelona'),
('00003', 'Paul Molive', 'Berlin'),
('00004', 'Gail Forcewind', 'Paris'),
('00005', 'Paige Turner', 'Mimia'),
('00006', 'Bob Frapples', 'Mexico City'),
('00007', 'Walter Melon', 'Amsterdam'),
('00008', 'Shonda Leer', 'São Paulo')
'''

In [29]:
query_job = client.query(query)
df = query_job.to_dataframe()

In [32]:
query = '''
INSERT INTO car_dealership.invoices_2
VALUES
('852399038', DATE(2018,08,22), 0, 1, 3, 2),
('731166526', DATE(2018,12,31), 3, 0, 0, 1),
('271135104', DATE(2019,01,22), 2, 2, 0, 2)
'''

In [33]:
query_job = client.query(query)
df = query_job.to_dataframe()

In [34]:
query = '''
INSERT INTO car_dealership.spare_parts_2
VALUES
('1', 'Volkswagen', 'Tiguan', 'Left Back Door'), 
('2', 'Peugeot', 'Rifter', 'Left Mirror'),
('8', 'Ford', 'Fusion', 'Fridge')
'''

In [35]:
query_job = client.query(query)
df = query_job.to_dataframe()

# Bonus Challenge - Updating and Deleting Database Records

In [36]:
query = '''
UPDATE car_dealership.customers_2
SET EMAIL = 'ppicasso@gmail.com' WHERE NAME = 'Pablo Picasso'
'''

In [37]:
query_job = client.query(query)
df = query_job.to_dataframe()

In [38]:
query = '''
UPDATE car_dealership.customers_2
SET EMAIL = 'lincoln@us.gov' WHERE NAME = 'Abraham Lincoln'
'''

In [39]:
query_job = client.query(query)
df = query_job.to_dataframe()

In [40]:
query = '''
UPDATE car_dealership.customers_2
SET EMAIL = 'hello@napoleon.me' WHERE NAME = 'Napoléon Bonaparte'
'''

In [41]:
query_job = client.query(query)
df = query_job.to_dataframe()

In [42]:
query = '''
UPDATE car_dealership.salesperson_2
SET STORE = 'Miami' WHERE NAME = 'Paige Turner'
'''

In [43]:
query_job = client.query(query)
df = query_job.to_dataframe()

In [44]:
query = '''
DELETE FROM car_dealership.car_2
WHERE
    VIN = 'DAM41UDN3CHU2WVF6' 
    AND MANUFACTURER = 'Volvo' AND MODEL = 'V60' 
    AND YEAR = 2019 AND COLOR = 'Gray'
'''

In [45]:
query_job = client.query(query)
df = query_job.to_dataframe()